@(userForm: Form[LoginForm.LoginData], postUrl: Call)(implicit request: MessagesRequestHeader)

    @main("Login") {

      <h1 >
        <a href="@routes.AuthController.registerEmpty">
            <button > Click to Register </button>
        </a>
      </h1>
        @if(userForm.hasGlobalErrors) {
            @userForm.globalErrors.map { (error: FormError) =>
              <div>
                @error.key: @error.message
              </div>
            }
        }


        
        





    }


